.wrapper {
    background: var(--secondary-color);
}
.buffer {
    background: var(--secondary-color);
    position: relative; z-index: 1;
    height: 14rem;
}
/* Header */
#header {
    position: fixed; top: 0; left: 0;
    z-index: 12;
}
#header, #footer {
    width: 100%; height: auto;
}
#header .wrapper {
    background: transparent;
}
.scrolling {
    transition: all 0.5s ease-in-out;
}
.header-top.scrolling {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.home .header-top.scrolling {
    background: var(--primary-color);
}
.home .header-top.scrolling .top-menu .menu {
    color: var(--white-color);
}
.home .header-top.scrolling .menu-contact__item {
    color: var(--primary-color);
    background: var(--white-color);
}
.header-top {
    padding: 1rem var(--padding);
    display: flex; justify-content: space-around; align-items: center;
    background: var(--primary-color);
    transition: all 0.5s ease-in-out;
    border-radius: 0 0 4rem 4rem;
}
.header-search {
    width: 20%;
}
.input-search {
    width: 100%; height: 5rem; position: relative;
    display: flex; justify-content: space-between; align-items: center;
}
.input-search .search-icon {
    position: absolute; left: 1.5rem; top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.input-search input.custom-input {
    padding: 1rem 1.5rem 1rem 4rem;
}
.header-mobile__menu {
    display: none;
}
.menu-mobile {
    display: none;
}
.menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 2rem;
}
.menu li {
    display: inline-block;
    margin-right: 3rem;
    font-weight: 800;
    line-height: 1.25;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li:hover > .sub-menu {
    transform: scaleY(1);
    opacity: 1;
}
.menu .sub-menu li {
    margin-right: 0;
    margin-bottom: 1rem;
}
.menu .sub-menu li:last-child {
    margin-bottom: 0;
}
.home .header-top .menu .sub-menu {
    background: var(--primary-color);
    color: var(--white-color);
}
.home .header-top.scrolling .menu .sub-menu {
    background: var(--secondary-color);
    color: var(--primary-color);
}
.menu .sub-menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1.2rem;
    padding: 1rem 2rem;
    z-index: 10;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.logo {
    background-image: url(../images/logo.svg);
}
.top-logo {
    width: 21.2rem; height: 15rem;
}
.menu-contact {
    display: flex; height: 4.4rem;
}
.menu-contact__item {
    display: flex; align-items: center; justify-content: center;
    font-weight: 700; color: var(--primary-color);
    background: var(--white-color); height: 100%;
    border-radius: 2.3rem;
    line-height: 1;
    padding: 1.2rem 3.2rem 1.2rem;
}
.selling-page-contact__phone.mobile {
    display: none;
}
.extend-section {
    background: var(--primary-color);
    margin-top: -0.1rem;
}
.page-id-11 .extend-section {
    padding: 2rem 43rem 7.6rem;
}
/* Footer */
#footer .footer-bottom {
    background: var(--primary-color);
    padding: 3rem var(--padding) 2.8rem;
    color: var(--white-color);
    border-radius: 4rem 4rem 0 0;
}
.bottom-logo {
    width: 27.6rem; height: 19.5rem;
}
.footer-row {
    display: flex; justify-content: space-between; align-items: flex-start;
}
.footer-row:nth-child(1) > div:last-child {
    width: 32%;
}
.footer-row:nth-child(1) {
    padding-bottom: 4rem;
    border-bottom: solid 1px var(--white-color);
    align-items: flex-end;
}
.footer-row:nth-child(2) {
    padding-top: 4rem;
    padding-bottom: 2.6rem;
    border-bottom: solid 1px var(--white-color);
}
.footer-row:nth-child(3) {
    padding-top: 2.6rem;
    font-weight: 500;
}
.contact-footer__item {
    margin-bottom: 2rem;
    width: 50rem;
}
.contact-footer__item:nth-child(1) > div:not(:last-child) {
    margin-bottom: 1.5rem;
    display: flex; justify-content: flex-start;
}
.contact-footer__item:nth-child(1) > div > div:nth-child(1) {
    width: 24%;
}
.contact-footer__item:nth-child(1) > div > div:nth-child(2) {
    padding-top: 0.11rem;
}
.contact-footer__item:nth-child(2) {
    display: flex; justify-content: flex-start; align-items: center;
    margin-top: 6.2rem; margin-bottom: 0;
}
.contact-footer__item:nth-child(2) > a {
    margin-right: 3.8rem;
}
.title-page {
    font-size: 4.8rem;
    line-height: 1;
    font-weight: 800;
    color: var(--primary-color);
    margin: 0 0 4rem;
}
#contact-page .wrapper {
    padding: var(--padding-top) var(--padding) var(--padding-bottom);
}
.google-map {
    margin-bottom: 7rem;
    position: relative;
    overflow: hidden;
    border-radius: 1.4rem;
    border: solid 2px var(--primary-color);
    height: 0;
    padding-bottom: 31.5%; 
}
.google-map iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.selling-page-contact__phone {
    height: 5.8rem; display: flex;
}
.selling-page-contact__phone .menu-contact__item {
    font-size: 2.4rem; 
    padding: 1.6rem 5rem 1.4rem;
    border-radius: 3rem;
}
.selling-page-contact__phone .phone-icon {
    width: 2.9rem; height: 2.9rem;
}

/* Privacy Page and 404 Page */
#privacy-page .wrapper,
#page-404 .wrapper {
    padding: var(--padding-top) var(--padding) var(--padding-bottom);
}
#page-404 .content, 
#page-404 .title-page {
    text-align: center;
}
#page-404 .content {
    font-size: 1.8rem;
}
#page-404 .content button {
    height: 5rem;
    padding: 1.4rem 3.6rem 1.2rem;
    margin: 4rem auto 0;
}
.box-404 {
    padding: 4rem 5rem;
    background: var(--sblue-color);
    border-radius: 1.2rem;
    box-shadow: 0px 10px 15px 5px #1D51A233;
    border: #1D51A233;

}

/* Intro Page */
#intro-page .wrapper {
    padding: var(--padding-top) var(--padding) var(--padding-bottom);
}
.intro-page__content.sec1 > h1 {
    font-size: 7.2rem; line-height: 1; margin: 0;
    width: 50%;
}
.intro-page__content.sec1 {
    margin-bottom: 12.6rem;
    display: flex; align-items: flex-start;
}
.intro-page__content.sec1 > div:nth-child(2) {
    line-height: 1.8;
    width: 45%;
}
.intro-page__content.sec2 {
    margin-bottom: 8.7rem;
}
.grid-gallery {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-height: 62rem;
}
.grid-gallery > div:last-child {
    margin-right: 0; width: calc(42% - 3rem);
    display: flex; flex-direction: column; justify-content: space-between;
}
.grid-gallery > div:first-child{
    width: 16%;
    display: flex; flex-direction: column; justify-content: space-between;
}
.grid-gallery > div:nth-child(2){
    width: calc(42% - 3rem);
}
.grid-gallery img {
    width: 100%; height: 100%;
    object-fit: cover; object-position: center;
    display: block; border-radius: 2rem;
}
.grid-gallery > div:first-child > div:nth-child(1) {
    padding: 4rem 3.5rem 20rem; border-radius: 2rem; height: calc(65% - 1.5rem);
}
.grid-gallery > div:first-child > div:nth-child(2) {
    height: calc(35% - 1.5rem);
}
.grid-gallery > div:first-child > div:nth-child(1) > div:nth-child(1) {
    font-size: 7.2rem; line-height: 1; margin-bottom: 1rem;
}
.grid-gallery > div:first-child > div:nth-child(1) > div:nth-child(2) {
    font-size: 3rem; line-height: 1.1;
}
.grid-gallery > div:last-child > div:nth-child(1) {
    height: calc(65% - 1.5rem);
}
.grid-gallery > div:last-child > div:nth-child(2) {
    height: calc(35% - 1.5rem);
    display: flex; justify-content: space-between;
}
.grid-gallery > div:last-child > div:nth-child(2) > div:nth-child(1) {
    width: calc(35% - 1.5rem);
}
.grid-gallery > div:last-child > div:nth-child(2) > div:nth-child(2) {
    width: calc(65% - 1.5rem);
}
.story {
    padding: 5.8rem 13.5rem 4.5rem;
    margin-top: 3rem;
    background: var(--sblue-color);
    border-radius: 2rem;
    display: flex; justify-content: space-between; align-items: center; text-align: left;
}
.story > div {
    width: 28%;
}
.story > div > div:nth-child(1) {
    font-size: 2.4rem; margin-bottom: 1.7rem;
}
.story > div > div:nth-child(2) {
    line-height: 1.8;
    color: var(--black-color);
}
.intro-page__content.sec3 > div:nth-child(1) {
    font-size: 4.8rem; line-height: 1;
    margin-bottom: 5.8rem; text-align: center;
}
.intro-page__content.sec3 > div:nth-child(2) {
    margin-bottom: 16rem; 
}
.metrics {
    padding-bottom: 6.6rem;
    border-bottom: solid 1px var(--gray-color);
    margin-bottom: 15rem;
    display: flex; justify-content: space-between; align-items: start;
    text-align: center;
}
.metric {
    width: 22%;
}
.metric-value {
    font-size: 7.2rem; line-height: 1; margin-bottom: 1.4rem;
}
.metric-key {
    font-size: 2.4rem; color: var(--black-color);
}
.intro-page__content.sec4 {
    margin-bottom: 14rem;
}
.intro-page__content.sec4 > div:nth-child(1) {
    font-size: 4.8rem; line-height: 1;
    margin-bottom: 8.9rem; text-align: center;
}
.policy {
    display: flex; justify-content: space-between;
}
.policy > div {
    width: 48.5%;
}
.policy-content {
    padding-right: 13.6rem;
    line-height: 1.8;
    display: flex; flex-direction: column; justify-content: space-between;
    color: var(--black-color);
}
.policy-image img {
    width: 100%; height: 100%;
    object-fit: cover; object-position: center;
    display: block; border-radius: 2rem;
    aspect-ratio: 392/485;
}

/* Post Page */
#post-page .wrapper {
    padding: var(--padding-top) var(--padding) var(--padding-bottom);
}
.post-list {
    display: flex; justify-content: flex-start;
    flex-wrap: wrap;
}
/* Post Single Page */
#post-single .wrapper{
    padding: var(--padding-top) var(--padding) var(--padding-bottom);
}
#post-single .post-single-title {
    width: 50%; line-height: 1.2;
    margin-bottom: 3rem;
}
.post-single-time {
    margin-bottom: 4rem;
}
.post-single-thumbnail img {
    width: 100%; height: auto; aspect-ratio: 16/6;
    object-fit: cover; object-position: center;
    display: block;
    border-radius: 1.2rem;
}
.post-single-content {
    padding: 4rem 0; border-bottom: solid 1px var(--gray-color);
    margin: 0 27rem;
}
.post-single-content h2,
#privacy-page h2 {
    font-weight: 600; font-size: 3rem; line-height: 1.2; margin-bottom: 2.5rem; margin-top: 2.5rem;
}
.post-single-content p,
#privacy-page p {
    line-height: 1.6;
}
#privacy-page .title-page {
    text-align: center;
}
.post-single-share {
    padding: 7rem 0; border-bottom: solid 1px var(--gray-color);
    margin: 0 27rem;
    display: flex; justify-content: space-between; align-items: center;
}
.post-single-share-title {
    margin-right: 3.5rem;
}
.post-single-share-social > a {
    margin-right: 1.8rem;
}
.tag-list a {
    margin-right: 1rem;
    display: inline-block; border-radius: 4rem;
    font-weight: 600; line-height: 1;
    background: var(--sblue-color2);
    color: var(--primary-color);
    padding: 0.8rem 1.8rem 0.5rem;
}
.tag-list a:last-child {
    margin-right: 0;
}
.related-post {
    margin-top: 10rem;
}
.related-post-title {
    font-size: 4.8rem; line-height: 1; 
    margin-bottom: 6rem;
    color: var(--primary-color);
    text-align: center;
}
.related-post .postbox {
    margin-bottom: 0;
}

/* Home Page */
.home .header-top {
    background: var(--secondary-color);
}
.home .top-menu .menu {
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
}
.home .menu-contact__item {
    color: var(--secondary-color);
    background: var(--primary-color);
    transition: all 0.5s ease-in-out;
}
.home .youtbBlue-icon {
    background-image: url(../images/youtbHome-icon.svg);
}
#home-page {
    background: var(--white-color);
}
#home-page  .wrapper {
    padding: 0 0 var(--padding-bottom);
}
.home-banner-section {
    padding: 0 3rem;
}
.slider-home {
    height: auto; aspect-ratio: 5/2;
    overflow: hidden; position: relative;
    width: 100%;
}
.slider-home .swiper-material-wrapper {
    border-radius: 3rem;
}
.slider-home img{
    width: 100%; height: 100%;
    object-fit: cover; object-position: center;
    display: block;
}
.swiper-button-prev-custom {
    display: block; 
    background-image: url(../images/prevWhite-icon-swiper.svg);
    width: 6rem; height: 4rem;
    position: absolute; left: 1.2rem; top: 50%; z-index: 10; transform: translateY(-50%);
    opacity: 1;
}
.swiper-button-next-custom {
    display: block;
    background-image: url(../images/nextWhite-icon-swiper.svg);
    width: 6rem; height: 4rem;
    position: absolute; right: 1.2rem; top: 50%; z-index: 10; transform: translateY(-50%);
    opacity: 1;
}
.swiper-button-next-custom:hover, .swiper-button-prev-custom:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
.swiper-button-next-custom.swiper-button-disabled,
.swiper-button-prev-custom.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.buy-tab_title {
    font-size: 3rem; line-height: 1;
    margin: 4.5rem 0 3.8rem 2.9rem;
}
.product-highligh-tab-section {
    padding: 7.6rem 13rem 0;
    margin: 10rem 3rem 10.4rem;
    background: var(--sblue-color);
    border-radius: 3rem;
}
.highligh-tab-section {
    padding: 0 var(--padding);
}
.highligh-tabs .tab-content {
    padding-top: 10.4rem;
}
.highligh-tabs .nav-tabs {
    border-bottom: solid 1px var(--gray-color);
}
.highligh-tabs .nav-tabs .nav-link:hover,
.highligh-tabs .nav-tabs .nav-link.active{
    border-bottom: solid 1px transparent;
    color: var(--primary-color);
}
.highligh-tabs .nav-tabs .nav-link {
    background: var(--white-color);
    color: var(--black-color);
    font-weight: 700;
    border: none;
    border-bottom: solid 1px var(--gray-color);
    position: relative;
    margin-right: 2.8rem;
}
.highligh-tabs .nav-tabs .nav-link:last-child {
    margin-right: 0;
}
.highligh-tabs .nav-tabs .nav-link:not(.active)::after,
.highligh-tabs .nav-tabs .nav-link.active::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--yellow-color);
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    transition: all ease-in-out 0.5s;
}
.highligh-tabs .nav-tabs .nav-link:not(.active):hover::after,
.highligh-tabs .nav-tabs .nav-link.active::after {
    width: 100%;
}
.highligh-tabs .nav-tabs .nav-link.transitioning::after {
    width: 0;
    transition: all ease-in-out 0.5s;
}
.product-tab-section {
    padding: 0 29.7rem;
    position: relative; z-index: 11;
}
.product-tab-section .nav-tabs {
    border: none; height: 7.6rem; margin-top: -7.6rem;
}
.product-tab-section .nav-tabs .nav-link {
    background: rgba(249, 251, 251, 0.5); 
    color: var(--primary-color); 
    font-size: 3rem; line-height: 1; font-weight: 700;
    border: none; height: 100%;
    position: relative;
    padding: 0 6.9rem;
}
.product-tab-section .nav-tabs .nav-link:nth-child(1) {
    border-top-left-radius: 1.2rem;
}
.product-tab-section .nav-tabs .nav-link:nth-child(2) {
    border-top-right-radius: 1.2rem;
}
.product-tab-section .nav-tabs .nav-link.active {
    background: var(--secondary-color);
}
.product-tab-section .tab-content {
    background: var(--secondary-color);
    border: none;
    box-shadow: 0px 10px 15px 5px #1D51A233;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding: 3.6rem 3.6rem 4.5rem;
    overflow: hidden;
}
.highlight-title {
    font-size: 4.8rem; line-height: 1; margin-bottom: 5.8rem;
    color: var(--primary-color); text-align: center;
}
.home .product-filter-column-content {
    border: none; padding: 0; box-shadow: none; border-radius: 0;
    background: var(--secondary-color); margin-top: 2rem;
}
.home .product-filter-column .title-page {
    display: none;
}

.home .product-filter-column-content > .category-list {
    display: flex; justify-content: flex-start; align-items: flex-start; gap: 2rem;
    flex-wrap: wrap;
}

/* Buy product Page */
#buying-page .wrapper {
    padding: var(--padding-top) var(--padding) var(--padding-bottom);
}
.product-list-wrapper {
    margin-bottom: 4rem;
    display: flex; justify-content: start; align-items: stretch;
    flex-wrap: wrap;
}
.product-list-wrapper > div {
    width: calc(25% - 1.5rem); margin-right: 2rem; margin-bottom: 2rem;
}
.product-list-wrapper > div:nth-child(4n) {
    margin-right: 0;
}

.product-list-wrapper .title-not-found {
    width: 100%;
    margin-top: 0;
}
.product-tab-highlight nav {
    position: relative; z-index: 0;
}
.product-tab-highlight.highligh-tabs .nav-tabs .nav-link {
    background: transparent; margin-right: 3.8rem;
}
.product-tab-highlight.highligh-tabs .nav-tabs .nav-link:not(.active)::after, .product-tab-highlight.highligh-tabs .nav-tabs .nav-link.active::after {
    background: var(--primary-color);
}
.product-tab-highlight.highligh-tabs .tab-content {
    padding: 6rem 0 4.8rem; overflow: hidden;
}
.product-tab-highlight a.absoblute {
    position: absolute; top: 0; right: 0; z-index: 1;
}
.slider-product-highlight {
    width: 100%; position: relative;
    height: 100%;
}
.slider-product-highlight .custom-pagination {
    position: absolute; top: -5rem; right: 0; z-index: 10;
}
.slider-product-highlight-control {
    width: 100%; position: relative;
}
.slider-product-highlight .swiper-button-prev-custom {
    left: 45%; bottom: 0; top: auto;
}
.slider-product-highlight .swiper-button-next-custom {
    right: 45%; bottom: 0; top: auto;
}

/* Product Single Page */
#product-single .wrapper {
    padding: var(--padding-top) var(--padding) var(--padding-bottom);
}
.product-excerpt {
    font-size: 1.8rem; margin-bottom: 3rem; color: var(--black-color);
}
.product-single-header {
    display: flex; justify-content: space-between; align-items: stretch;
}
.product-single-gallery {
    width: 35%; overflow: hidden;
}
.product-single-gallery img {
    width: 100%; height: auto; 
    object-fit: cover; object-position: center;
    display: block; border-radius: 2rem;
}
.slider-product-single-1 img{
    aspect-ratio: 1/1;
}
.slider-product-single-2 img{
    aspect-ratio: 1/1;
}
.slider-product-single-1 {
    margin-top: 1rem; position: relative;
}
.slider-product-single-1 .swiper-slide {
    opacity: 0.6; transition: opacity 0.8s ease;
    cursor: pointer; border-radius: 2.3rem;
}
.slider-product-single-1 .swiper-slide.swiper-slide-thumb-active {
    opacity: 1; transition: opacity 0.8s ease;
    border: solid 3px var(--primary-color);
}
.slider-product-single-1 .swiper-slide:not(.swiper-slide-thumb-active):hover {
    opacity: 1; transition: opacity 0.8s ease;
}
.product-single-quote {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.product-single-form {
    margin-bottom: 3rem; display: flex; justify-content: space-between; align-items: center;
    height: 6rem;
}
.product-single-form > a{
    display: block;
    width: 32%;
    background: var(--white-color);
    color: var(--primary-color);
    font-weight: 600; font-size: 1.8rem;
    height: 100%;
    border-radius: 4rem;
    border: solid 1px var(--gray-color);
    text-align: center;
    position: relative;
    display: flex; justify-content: center; align-items: center;
}
.product-single-form > a > div {
    position: absolute; top: 50%; left: 4.3rem; transform: translateY(-50%);
}
.product-single-form .tiktokColor-icon,
.product-single-form .shopeeColor-icon,
.product-single-form .lazadaColor-icon {
    width: 3.8rem; height: 3.8rem;
}
.product-single-price {
    display: flex; justify-content: flex-start; align-items: center; gap: 1.5rem;
    position: relative;
    font-size: 3rem; line-height: 1;
    padding: 0;
    margin-right: 1rem;
    border-radius: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}
.product-single-price.flash-sale .flashsale-icon {
    display: block;
}
.product-single-price.flash-sale {
    background: linear-gradient(to left, var(--orange-color), white);
    padding: 1rem;
}
.product-single-price .old-price {
    display: none; font-size: 1.6rem; 
}
.product-single-price.flash-sale .old-price{
    display: inline-block;
}
.product-single-hotline {
    font-size: 2.4rem; line-height: 1; height: 6rem; margin-bottom: 3rem;
    display: flex; justify-content: space-start; align-items: center;
}
.time-flashsale {
    font-size: 1.8rem; font-weight: 500; line-height: 1;
    color: var(--white-color);
    position: absolute; right: 2rem;
}
.product-single-hotline > a:last-child {
    margin-right: 0;
}
.product-single-hotline > a {
    background: var(--tertiary-color);
    border-radius: 4rem; height: 100%;
    padding: 0 5.4rem; margin-right: 2%;
    display: flex; justify-content: center; align-items: center;
}
.product-single-hotline .zalo-icon {
    width: 5.6rem; height: 2rem;
}
.product-single-hotline .mess-icon {
    width: 4rem; height: 4rem;
}
.product-single-note {
    font-size: 2rem; line-height: 1; color: var(--black-color);
    font-style: italic; font-weight: 500; border-radius: 5rem;
    background: var(--sblue-color2);
    padding: 2.4rem 3.6rem;
}
.product-single-note__title {
    font-weight: 600; margin-bottom: 1.5rem; font-size: 2.5rem; justify-self: center;
}
.product-single-note__item {
    display: flex; align-items: flex-end; justify-content: flex-start; margin-bottom: 1rem;
}
.product-single-note img {
    display: block; width: auto; height: 2.4rem;
    object-fit: contain; object-position: center;
    margin-right: 1.5rem;
}
.product-single-content {
    position: relative; z-index: 1;
    margin-top: 5rem;
}
.product-single-info {
    background: var(--sblue-color);
    padding: 4rem 13.6rem 10rem;
    border-radius: 5rem; width: 100%;
}
.product-single-highlight {
    background: var(--primary-color);
    border-radius: 12rem;
    padding: 3.6rem 9rem;
    margin-top: -7rem;
    display: flex; justify-content: space-between; align-items: stretch;
}
.product-single-highlight > div {
    width: 23%;
    display: flex; justify-content: flex-start; align-items: center;
}
.product-single-highlight__icon {
    margin-right: 3rem;
}
.product-single-highlight__icon img {
    display: block; width: auto; height: 5.4rem;
    object-fit: contain; object-position: center;
}
.product-single-highlight__title {
    font-size: 1.8rem;
}
.product-single-info__title.title-page {
    margin-bottom: 5rem; text-align: center;
}
.product-single-info__content {
    display: flex; flex-wrap: wrap; justify-content: space-between; color: var(--black-color);
}
.product-single-info__content > div {
    width: 47.5%; border-bottom: solid 2px var(--white-color);
    margin-bottom: 2.8rem; font-size: 1.8rem; line-height: 1;
    padding-bottom: 0.6rem;
    display: flex; align-items: flex-end; justify-content: space-between;
}
.product-single-related.related-post {
    margin-top: 10rem; overflow: hidden;
}
.slider-product-related {
    width: 100%; position: relative; 
}
.slider-product-related .swiper-wrapper {
    display: flex; justify-content: flex-start; align-items: stretch;
}
.slider-product-related .product-box:nth-child(4n) {
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    .buffer {
        height: 7rem;
    }
    /* Header */
    .home .menu-contact__item {
        color: var(--primary-color);
        background: var(--white-color);
    }
    .header-top .top-menu,
    .header-top .menu-contact {
        display: none;
    }
    .header-top {
        padding: 1rem var(--padding) 1rem;
        justify-content: space-between;
    }
    #header.open-menu {
        z-index: 999;
    }
    .header-mobile__menu {
        width: 2.8rem; position: relative;
        display: block; cursor: pointer;
    }
    .home .header-mobile__menu > .line {
        background: var(--primary-color);
        transition: all 0.5s ease-in-out;
    }
    .home .header-mobile__menu.scrolling > .line {
        background: var(--white-color);
        transition: all 0.5s ease-in-out;
    }
    .header-mobile__menu > .line {
        background: var(--white-color);
        width: 100%; height: 0.3rem;
        transition: transform 0.8s ease, opacity 0.8s ease;
        margin-bottom: 0.4rem;
    }
    .header-mobile_menu > .line:last-child {
        margin-bottom: 0;
    }
    .header-mobile__menu.active .line:nth-child(1) {
        transform: translateY(0.7rem) rotate(41deg);
    }
    .header-mobile__menu.active .line:nth-child(2) {
        opacity: 0;
    }
    .header-mobile__menu.active .line:nth-child(3) {
        transform: translateY(-0.7rem) rotate(-41deg);
    }
    .top-logo {
        width: 7.1rem;
        height: 5rem;
    }
    .menu-mobile {
        position: fixed;
        display: block;
        z-index: 998;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        background: var(--primary-color);
    }
    .menu-mobile.show-menu {
        transform: translateX(0);
    }
    .menu-mobile .primary-menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        left: var(--padding);
        top: 20vh;
    }
    .menu-mobile .menu {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .menu-mobile .menu > li {
        margin-right: 0;
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        font-size: 1.8rem;
        border-bottom: solid 1px var(--white-color);
    }
    .input-search {
        height: 4.5rem;
    }
    .header-search {
        width: 50%;
    }
    /* Footer */
    .footer-row {
        justify-content: center;
    }
    .footer-row:nth-child(1) {
        padding-bottom: 4rem;
    }
    .footer-row:nth-child(2){
        padding-top: 2rem;
        display: block;
    }
    .footer-row:nth-child(3) {
        padding-top: 1rem;
        justify-content: flex-start;
    }
    .contact-footer__item:nth-child(1) > div > div:nth-child(1) {
        width: 30%;
    }
    .contact-footer__item:nth-child(2) {
        margin-top: 5rem;
        justify-content: space-around;
    }
    .contact-footer__item:nth-child(2) > a {
        margin-right: 0;
    }
    .footer-row:nth-child(1) > div:last-child, .bottom-menu,
    .footer-row:nth-child(3) > div:first-child {
        display: none;
    }
    .contact-footer__item {
        width: 100%;
        margin-bottom: 3rem;
    }
    .selling-page-contact__phone.mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4.5rem;
    }
    .contact-footer__item:nth-child(2) > div {
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-footer__item:nth-child(2) > div:nth-child(2) {
        display: none;
    }
    .contact-footer__item:nth-child(2) > div > div:nth-child(2) {
        padding-top: 0.8rem;
    }
    
    /* Single Post Page And Post Archive */
    .post-list {
        flex-direction: column;
    }
    .post-list > div {
        width: 100%;
        margin-bottom: 6rem;
    }
    #post-single .post-single-title {
        font-size: 2.8rem; width: 100%;
        margin-bottom: 1.7rem;
    }
    .post-single-time {
        margin-bottom: 3rem;
    }
    .post-single-thumbnail img {
        aspect-ratio: 372/238;
    }
    .post-single-content {
        margin: 0; padding: 3rem 0;
    }
    .post-single-content h2, #privacy-page h2 {
        margin-top: 1rem; margin-bottom: 1rem;
    }
    .post-single-share {
        display: flex; flex-direction: column; align-items: flex-start;
        margin: 0; padding: 2.4rem 0 1.3rem; gap: 5.5rem;
    }
    .related-post {
        margin-top: 5.5rem;
    }
    .related-post-title {
        font-size: 2.8rem; margin-bottom: 3rem;
    }
    .title-page {
        font-size: 2.8rem;
    }
    /* Contact Page */
    .google-map {
        padding-bottom: 105.38%;
        margin-bottom: 5.7rem;
    }
    .post-single-content h2, #privacy-page h2 {
        font-size: 2.4rem;
    }
    /* Intro Page */
    .intro-page__content.sec1 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.8rem;
    }
    .intro-page__content.sec1 > h1 {
        width: 100%; font-size: 2.8rem; margin-bottom: 2.5rem;
    }
    .intro-page__content.sec1 > div:nth-child(2) {
        width: 100%;
    }
    .grid-gallery {
        height: auto;
        max-height: none;
        width: 100%;
        flex-direction: column;
    }
    .grid-gallery > div:first-child {
        width: 100%; flex-direction: row; gap: 1rem;
    }
    .grid-gallery > div:first-child > div:nth-child(1) > div:nth-child(1) {
        font-size: 3.6rem;
    }
    .grid-gallery > div:first-child > div:nth-child(1) > div:nth-child(2) {
        font-size: 2.4rem;
    }
    .grid-gallery > div:first-child > div:nth-child(1) {
        padding: 3rem 1rem 2rem;
    }
    .grid-gallery > div:first-child > div:nth-child(1),
    .grid-gallery > div:first-child > div:nth-child(2) {
        height: auto;
        width: 50%;
    }
    .grid-gallery > div:first-child > div:nth-child(2) {
        aspect-ratio: 1/1;
    }
    .grid-gallery > div:nth-child(2),
    .grid-gallery > div:last-child {
        width: 100%; margin-top: 2rem;
    }
    .grid-gallery > div:last-child {
        flex-direction: column-reverse;
    }
    .grid-gallery > div:nth-child(2) img {
        aspect-ratio: 1/1;
    }
    .grid-gallery > div:last-child > div:nth-child(2) {
        height: auto; gap: 1rem; margin-bottom: 2rem;
    }
    .grid-gallery > div:last-child > div:nth-child(2) > div:nth-child(1),
    .grid-gallery > div:last-child > div:nth-child(2) > div:nth-child(2) {
        width: 50%;
    }
    .grid-gallery > div:last-child > div:nth-child(2) img {
        aspect-ratio: 1/1;
    }
    .grid-gallery > div:last-child > div:nth-child(1) {
        height: auto;
    }
    .grid-gallery > div:last-child > div:nth-child(1)img {
        aspect-ratio: 2/1
    }
    .story {
        padding: 5rem 3.8rem 4rem;
        flex-direction: column;
    }
    .story > div {
        width: 100%;
        margin-bottom: 5rem;
    }
    .intro-page__content.sec3 > div:nth-child(1) {
        font-size: 2.8rem; margin-bottom: 1.7rem;
    }
    .intro-page__content.sec3 > div:nth-child(2) {
        margin-bottom: 5.4rem;
    }
    .metrics {
        flex-wrap: wrap; padding-bottom: 0;
        margin-bottom: 5.3rem; border-bottom: none;
    }
    .metric {
        width: 45%; margin-bottom: 3rem;
    }
    .metric-value {
        font-size: 3.6rem; margin-bottom: 1.5rem;
    }
    .intro-page__content.sec4 > div:nth-child(1) {
        display: none;
    }
    .policy {
        flex-direction: column;
    }
    .policy > div {
        width: 100%;
    }
    .policy-image img {
        aspect-ratio: 370/320;
    }
    .policy-image {
        margin-bottom: 4.6rem;
    }
    .policy-content {
        padding-right: 0;
    }
    .policy-content > div {
        margin-bottom: 3rem;
    }
    .intro-page__content.sec4 {
        margin-bottom: 9rem;
    }
    
    /* Home Page */
    .home-banner-section {
        padding: 1rem var(--padding) 0;
    }
    .product-tab-section {
        padding: 0 var(--padding);
        margin-bottom: 2rem;
    }
    .product-tab-section > nav {
        margin-bottom: 2rem;
    }
    .product-tab-section .nav-tabs {
        height: 4.5rem; margin-top: 1.7rem;
        display: flex; justify-content: space-between; align-items: stretch;
    }
    .product-tab-section .nav-tabs .nav-link {
        font-size: 1.7rem;
        color: var(--white-color);
        background: var(--primary-color);
        border-radius: 1.2rem;
        width: 48%; padding: 0 2rem;
    }
    .product-tab-section .nav-tabs .nav-link.active {
        background: var(--yellow-color);
    }
    .product-tab-section .tab-content {
        padding: 0;
        border: none;
        box-shadow: none;
        background: transparent;
    }
    .product-highligh-tab-section {
        margin: 0; padding: 2.9rem var(--padding) 0;
    }
    .product-tab-highlight a.absoblute {
        top: calc(-100% - 2.5rem); left: 50%; transform: translateX(-50%); right: auto;
    }
    .product-tab-highlight.highligh-tabs .nav-tabs .nav-link {
        margin-right: 0; width: 29%; padding: 0 0 1rem;
    }
    .highligh-tab-section {
        padding: 6.6rem var(--padding) 9rem;
    }
    .highligh-tab-section .highligh-tabs .nav-tabs{
        margin-top: 2.8rem;
    }
    .highligh-tabs .nav-tabs {
        margin-top: 8.5rem;
    }
    .highligh-tabs .nav-tabs .nav-link {
        margin-right: 0; width: 25%; padding: 0 0 1rem;
    }
    .highligh-tabs .tab-content {
        padding-top: 7.2rem;
    }
    .highligh-tabs .nav-tabs .nav-link:not(.active)::after, .highligh-tabs .nav-tabs .nav-link.active::after {
        height: 3px;
    }
    .review-section {
        display: none;
    }
    .highlight-title {
        font-size: 2.8rem; margin-bottom: 3.8rem;
    }
    .slider-home {
        aspect-ratio: 5/3;
    }
    .slider-home .swiper-button-prev-custom,
    .slider-home .swiper-button-next-custom {
        display: none;
    }
    /* Buy product Page */
    #buying-page .title-page:not(.mobile) {
        padding: 0 var(--padding);
    }
    .product-filter-btn button.custom-button {
        padding: 0 2rem 0 2rem;
    }
    .title-page.mobile {
        margin-bottom: 0;
        padding: 3rem var(--padding) 5rem;
        text-align: center;
        background: var(--sblue-color);
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
    }
    .product-list-section {
        background: var(--sblue-color);
        border-bottom-right-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
        margin-top: -0.5rem;
        padding: 0 var(--padding) 3rem;
    }
    .product-list-wrapper {
        margin-bottom: 4.3rem;
    }
    .product-list-wrapper > div,
    .product-list-wrapper .product-box:last-child {
        width: 100%; margin-right: 0;
    }
    /* Product Single */
    .title-page.product-single-title {
        margin: 0 0 2.5rem;
    }
    .product-excerpt {
        width: 80%;
        margin-bottom: 2.5rem;
    }
    .product-single-header {
        flex-direction: column;
        gap: 4rem;
    }
    .product-single-gallery,
    .product-single-quote {
        width: 100%;
    }
    .product-single-price {
        margin-bottom: 2.5rem;
    }
    .product-single-hotline {
        font-size: 1.8rem;
        margin-top: 2.4rem;
        height: 4.5rem;
    }
    .product-single-hotline > a{
        padding: 1.5rem 3.6rem 1.6rem;
    }
    .product-single-hotline .zalo-icon {
        width: 4rem; height: 1.4rem;
    }
    .product-single-form > a {
        padding: 1rem 0 0.8rem;
    }
    .product-single-content {
        margin-right: -2rem;
        margin-left:  -2rem;
    }
    .product-single-info {
        padding: 4.1rem var(--padding) 5.3rem;
    }
    .product-single-info__title.title-page {
        margin-bottom: 5.8rem;
    }
    .product-single-info__content > div {
        width: 100%;
    }
    .product-single-info__content > div:last-child {
        margin-bottom: 0;
    }
    .product-single-highlight {
        display: none;
    }
    .product-single-related.related-post {
        margin-top: 6rem;
    }
    .youtube-container {
        padding-bottom: 69.54%;
    }
    .slider-product-single-1 .swiper-button-next-custom,
    .slider-product-single-1 .swiper-button-prev-custom {
        display: none;
    }
    .slider-product-single-1 .swiper-slide {
        width: 100%;
        display: flex; justify-content: center; align-items: center;
    }
    .slider-product-single-1 {
        margin-top: 1rem;
    }
    .slider-product-single-1 .swiper-wrapper{
        flex-direction: row;
    }
    .slider-product-single-1 .swiper-slide {
        margin-top: 0 !important;
        margin-bottom: 1rem;
    }
    .slider-product-single-1 img {
        aspect-ratio: 1/1
    }
    .slider-product-single-2 img {
        aspect-ratio: 371/254;
    }
}