.phone-icon {
    background-image: url(../images/phone-icon.svg);
    width: 1.8rem; height: 1.8rem; margin-right: 1.8rem;
}
.phoneWhite-icon {
    background-image: url(../images/phoneWhite-icon.svg);
    width: 2.4rem; height: 2.4rem;
}
.tiktokWhite-icon {
    background-image: url(../images/tiktokWhite-icon.svg);
    width: 2.8rem; height: 3.3rem;
}
.tiktokColor-icon {
    background-image: url(../images/tiktokColor-icon.svg);
    width: 3.8rem; height: 5rem;
}
.fbWhite-icon {
    background-image: url(../images/fbWhite-icon.svg);
    width: 3.3rem; height: 3.3rem;
}
.fbColor-icon {
    background-image: url(../images/fbColor-icon.svg);
    width: 5rem; height: 5rem;
}
.fbshare-icon {
    background-image: url(../images/fbshare-icon.svg);
    width: 1rem; height: 1.8rem;
}
.zalo-icon {
    background-image: url(../images/zalo-icon.svg);
    width: 4rem; height: 1.4rem;
}
.zaloWhite-icon {
    background-image: url(../images/zaloWhite-icon.svg);
    width: 4rem; height: 1.4rem;
}
.mess-icon {
    background-image: url(../images/mess-icon.svg);
    width: 4rem; height: 1.4rem;
}
.prev-icon {
    display: block;
    background-image: url(../images/prevWhite-icon-swiper.svg);
    width: 6rem; height: 4rem;
}
.next-icon {
    display: block;
    background-image: url(../images/nextWhite-icon-swiper.svg);
    width: 6rem; height: 4rem;
}
.search-icon {
    display: block;
    background-image: url(../images/search-icon.svg);
    width: 2rem; height: 2rem;
}
.prev-icon.disabled-custom, .next-icon.disabled-custom {
    opacity: 0.5;
    cursor: not-allowed;
}
.arrow-icon {
    display: block;
    background-image: url(../images/arrow-icon.svg);
    width: 1.1rem; height: 1.1rem;
}
.money-icon {
    display: block;
    background-image: url(../images/money-icon.svg);
    width: 2.1rem; height: 2.1rem;
}
.shopeeColor-icon {
    display: block;
    background-image: url(../images/shopeeColor-icon.svg);
    width: 5rem; height: 5rem;
}
.lazadaColor-icon {
    display: block;
    background-image: url(../images/lazadaColor-icon.png);
    width: 5rem; height: 5rem;
}
.lazadaWhite-icon {
    display: block;
    background-image: url(../images/lazadaWhite-icon.png);
    width: 3.3rem; height: 3.3rem;
}
.shopeeWhite-icon {
    display: block;
    background-image: url(../images/shopeeWhite-icon.png);
    width: 3.3rem; height: 3.3rem;
}

@media screen and (max-width: 800px){
}
